<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOS</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <div th:replace="~{components/admin/sidebar :: sidebar}"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="~{components/admin/navbar :: navbar}"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>
                    </div>

                    <!-- Content Row -->
                    <div class="container mt-5">
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-md-6">
                                    <img th:src="@{'/imagekos/' + ${kos.image}}" class="card-img-top" height="400px"
                                        alt="Kost Gambar">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${kos.namaKos}">Kos Bunda - Simpang 3</h5>
                                        <span class="badge badge-info" th:text="${kos.category}">Putri</span>
                                        <p class="card-text">Rp. <span th:text="${kos.harga}">200.000</span>/bulan</p>
                                        <p class="card-text"><small class="text-muted" th:text="${kos.lokasi}">Jl.
                                                Slamet Riyadi No.12, Simpang
                                                3</small></p>
                                        <p class="card-text"><small class="text-muted">Ibu Sunarti (Pemilik)</small></p>
                                        <a href="tel:+628123456789" class="btn btn-primary">Hubungi Pemilik</a>
                                        <h6 class="mt-3">Fasilitas</h6>
                                        <div>
                                            <span class="facilities-icon"><i class="fas fa-wifi"></i> WiFi</span>
                                            <span class="facilities-icon"><i class="fas fa-bed"></i> Kasur</span>
                                            <span class="facilities-icon"><i class="fas fa-bath"></i> Kamar Mandi</span>
                                            <span class="facilities-icon"><i class="fas fa-concierge-bell"></i>
                                                Dapur</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <img src="https://via.placeholder.com/100" class="img-fluid" alt="Gambar 1">
                                    </div>
                                    <div class="col">
                                        <img src="https://via.placeholder.com/100" class="img-fluid" alt="Gambar 2">
                                    </div>
                                    <div class="col">
                                        <img src="https://via.placeholder.com/100" class="img-fluid" alt="Gambar 3">
                                    </div>
                                    <div class="col">
                                        <img src="https://via.placeholder.com/100" class="img-fluid" alt="Gambar 4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <div th:replace="~{components/admin/footer :: footer}"></div>
    <!-- End of Footer -->

    </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
</body>

</html>